
<section class="top_image">
</section>

<div class="toppage_to_center">
<section class="about">
  <h1>About</h1>
  <div class="about_contents">
  <p>Railsの練習として作成したWEBサイトです。</p>
  <p>CREATEから投稿することができ、LISTで投稿された一覧を確認できます。</p>
  <p>詳細、編集、削除を実装しています。</p>
  <p>TOPはシングルページを採用しています。</p>
  </div>
</section>

<section class="function">
  <h1>Function</h1>
  <div class=function_images>
    <div class="finction_imege">
      <img src="/assets/pen.jpeg">
      <p>Blog投稿機能</p>
    </div>
  </div>
</section>
</div>
